In [1]:
import numpy as np
import pandas as pd

In [42]:
cctv = pd.read_csv('data/서울시 자치구 연도별 방범용 CCTV 운영 현황_230630기준.csv', thousands = ',', encoding='EUC-KR')
cctv.drop(columns=['Unnamed: 0'], inplace=True)
cctv = cctv.set_index('구분')
cctv.tail(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
강남구   2319   3447   4232   4834   5459   5796   6143   6495   6495
송파구    713    798    913   1364   2052   2372   2520   2805   2821
강동구    670    863   1134   1596   1871   2475   2720   3086   3088

In [43]:
cctv = cctv.astype(int)
cctv.tail(3)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
강남구   2319   3447   4232   4834   5459   5796   6143   6495   6495
송파구    713    798    913   1364   2052   2372   2520   2805   2821
강동구    670    863   1134   1596   1871   2475   2720   3086   3088

In [44]:
cctv.loc['합계',:] = cctv.sum()
cctv = cctv.astype(int)
cctv.tail(5)

     2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년  2023년
구분
서초구   1548   1785   2169   2582   2938   3175   3442   3180   3180
강남구   2319   3447   4232   4834   5459   5796   6143   6495   6495
송파구    713    798    913   1364   2052   2372   2520   2805   2821
강동구    670    863   1134   1596   1871   2475   2720   3086   3088
합계   26321  33013  40512  49222  58002  67077  73965  80005  81119